.navbar {
 background:#000000;
}
.nav-link , .navbar-brand {
 color: #f4f4f4;
}
.nav-link {
 margin-right: 1rem;
}
.nav-link:hover {
 color: #f97300;
}
.navbar-collapse {
 justify-content: flex-end;
}
body{
}
.description {
    padding-top: 5rem;
    margin: auto;
}
.hidden {
    visibility: hidden;
}